body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: 'Barlow', sans-serif;
}

.banner_container {
  height: 200px;
  text-align: center;
}

.banner_logo {
  height: 200px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: auto;
  width: 80%;
}

.card-image {
  width: 200px;
  height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-color: #8ec6c5;
  margin: 10px;
  border-radius: 5px;
}

.card-image:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.7);
  overflow: auto;
}

.modal-body {
  background-color: white;
  height: 660px;
  width: 900px;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  border-radius: 5px;
}

.modal-body > button {
  border: none;
  outline: 0;
  color: #8ec6c5;  
}

button:hover{
  cursor: pointer;
}

.modal-image {
  float: left;
  margin-right: 30px;
  margin-left: 30px;
}

.table {
  display: flex;
}

.columns {
  display: flex;
  flex-direction: column;
}

.col-1 {
  font-weight: bold;
  margin-right: 15px;
}